<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>彩票官网</title>
</head>
<body>
<H1>Hello World</H1>
<label th:text="${mo.phase}">
<label th:text="${mo.beginTime}">
<label th:text="${mo.endTime}">
<label th:text="${mo.number1}">
<label th:text="${mo.number2}">
<label th:text="${mo.number3}">
<label th:text="${mo.number4}">
<label th:text="${mo.number5}">
<label th:text="${mo.sumNumber}">
<label th:text="${mo.bigOrSmall}">
<label th:text="${mo.singleOrDouble}">
<label th:text="${mo.dragonOrTiger}">
</label>
</body>
</html>